name: Build and Deploy to Github Pages

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '4.0.1'
          bundler-cache: true
      - name: build
        env:
          JEKYLL_ENV: production
        run: bundle exec jekyll build
      - name: disable jekyll in deployment
        run: touch _site/.nojekyll
      - name: deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: _site
